{% extends "pdf/base.html" %}
<!-- Nothing here -->
{% block head %}
<title>CV Generator Form</title>
{% endblock head %}
<!-- Nothing here -->
{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">


            <form method="post" action="{% url 'accept' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" required id="name" name="name" aria-describedby="nameHelp">
                    <div id="nameHelp" class="form-text">Name of the candidate whose cv needs to be built.</div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" required id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" required id="phone" name="phone">
                </div>

                <div class="mb-3">
                    <label for="summary" class="form-label">About You</label>
                    <textarea class="form-control" required id="summary" name="summary"></textarea>
                </div>

                <div class="mb-3">
                    <label for="degree" class="form-label">Degree(s)</label>
                    <input type="text" class="form-control" required id="degree" name="degree">
                </div>

                <div class="mb-3">
                    <label for="school" class="form-label">School</label>
                    <input type="text" class="form-control" required id="school" name="school">
                </div>

                <div class="mb-3">
                    <label for="university" class="form-label">University</label>
                    <input type="text" class="form-control" required id="university" name="university">
                </div>

                <div class="mb-3">
                    <label for="previous_work" class="form-label">Work Experience</label>
                    <textarea class="form-control" required id="previous_work" name="previous_work"></textarea>
                </div>

                <div class="mb-3">
                    <label for="skills" class="form-label">Skills</label>
                    <textarea class="form-control" required id="skills" name="skills"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}