{% extends "pdf/base.html" %}
<!-- Nothing here -->
{% block head %}
<title>Resume Template</title>
{% endblock head %}
<!-- Nothing here -->
{% block body %}
<h2>{{user_profile.name }}</h2>
<h2>{{user_profile.email }}</h2>
<h2>{{user_profile.phone }}</h2>
<hr />
<br />
<p>Summary</p>
<p>{{ user_profile.summary }}</p>
<hr />
<p>Skills</p>
<p>{{ user_profile.skills }}</p>
<hr />
<p>Education</p>
<ul>
  <li>{{user_profile.school}}</li>
  <li>{{user_profile.university}}</li>
</ul>
<hr />
<h2>{{user_profile.address }}</h2>

{% endblock body %}
